.page-header { 
  margin: 20px;
}

Body {
  background-image: url("http://www.desktopimages.org/pictures/2013/1030/10/orig_37607.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

