

Body {
  background-image: url("http://www.ozwallpaper.com/wp-content/uploads/2016/02/Pink-Glitter-Wallpaper-Border.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.page-header {
  margin: 20px;
}

div.jumbotron {
  margin: 20px;
  padding: 20px;
  opacity: 0.5;
}
