

Body {
  background-image: url("http://www.ozwallpaper.com/wp-content/uploads/2016/02/Pink-Glitter-Wallpaper-Border.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin: 40px;
}
