

Body {
  background-image: url("http://www.ozwallpaper.com/wp-content/uploads/2016/02/Pink-Glitter-Wallpaper-Border.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.jumbotron{
  opacity: 0.8;
  color: #ff0066;
}


footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
}

carousel {
  padding: 20px;
}

row {
  mpadding: 20px;
}
